RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxx
CONTACT_TO_EMAIL=kontakt@localsites-mainfranken.de
CONTACT_FROM_EMAIL=LocalSites <kontakt@send.localsites-mainfranken.de>
NEXT_PUBLIC_CHATBASE_BOT_ID=a-_SQBLEszgcO_S7su3pc
